.helmets {
    height: 100px;
    width: 100px;
}

.bg {
    width: 100%;
    height: 660px;
    position: relative;
    margin-top: 60px;
    z-index: 1;
}

.header {
    color: red;
    font-size: 50px;
    background-color: red;
    text-align: center;
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    border-bottom: 5px solid black;
}

.secfont {
    align-content: center;
}

.secLogo1 {
    width: 40px;
    height: 40px;
    float: left;
    padding-left: 300px;
    padding-top: 10px;
}

.secLogo2 {
    width: 40px;
    height: 40px;
    float: right;
    padding-right: 300px;
    padding-top: 10px;
}

.scoreBoard {
    position: absolute;
    display: block;
    top: 70px;
    left: 40%;
    z-index: 2;
    border: 5px solid red;
}

.instruction-part {
    position: absolute;
    border: 5px solid red;
    text-align: center;
    color: white;
    background-color: black;
    width: 600px;
    top: 300px;
    left: 31%;
    z-index: 2;
    font-size: 20px;
    padding: 5px 5px;
}

.numberToMatch {
    font-size: 40px;
    color: white;
    background-color: black;
    border: 5px solid red;
    text-align: center;
    width: 64px;
    position: absolute;
    z-index: 2;
    top: 178px;
    left: 57.4%;
    height: 52px;
    padding-top: 8px;
}

.userScore {
    font-size: 40px;
    color: white;
    background-color: black;
    border: 5px solid red;
    text-align: center;
    width: 64px;
    position: absolute;
    z-index: 2;
    top: 178px;
    left: 41.5%;
    height: 52px;
    padding-top: 8px;
}

.wins {
    font-size: 20px;
    color: white;
    background-color: black;
    border: 5px solid red;
    text-align: center;
    width: 64px;
    position: absolute;
    z-index: 2;
    top: 79px;
    left: 46.4%;
    height: 52px;
    padding-top: 8px;
}

.losses {
    font-size: 20px;
    color: white;
    background-color: black;
    border: 5px solid red;
    text-align: center;
    width: 64px;
    position: absolute;
    z-index: 2;
    top: 79px;
    left: 52.6%;
    height: 52px;
    padding-top: 8px;
}

.gamePieces {
    border: 5px solid red;
    width: 610px;
    text-align: center;
    background-color: black;
    position: absolute;
    top: 565px;
    z-index: 2;
    left: 31%;
}

@media screen and (max-width: 980px) {
    .secLogo1 {
        padding-left: 20px;
    }
    .secLogo2 {
        padding-right: 20px;
    }
    .scoreBoard {
        left: 33%;
    }
    .instruction-part {
        left: 20%;
    }
    .gamePieces {
        left: 20%;
    }
    .numberToMatch {
        left: 60.5%;
    }
    .userScore {
        left: 35.4%;
    }
    .wins {
        left: 43%;
    }
    .losses {
        left: 53%;
    }
}

@media screen and (max-width: 768px) {
    .secfont {
        width: 600px;
    }
    .scoreBoard {
        left: 26%;
    }
    .instruction-part {
        left: 10%;
    }
    .gamePieces {
        left: 10%;
    }
    .numberToMatch {
        left: 61.3%;
    }
    .userScore {
        left: 29%;
    }
    .wins {
        left: 39%;
    }
    .losses {
        left: 51.5%;
    }
}

@media screen and (max-width: 640px) {
    .secfont {
        width: 450px;
    }
    .scoreBoard {
        left: 21%;
    }
    .instruction-part {
        left: 0%;
    }
    .gamePieces {
        left: 0%;
    }
    .numberToMatch {
        left: 63.3%;
    }
    .userScore {
        left: 24.6%;
    }
    .wins {
        left: 36.7%;
    }
}